/* styles the about us section  */
.aboutUs {
    display: flex;
    flex-direction: column;
}

.aboutUsHeader {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: bolder;
    margin: 3% 1%;
}

.aboutUsContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}

.bakeryPicContainer {
    flex: 1;
    padding: 3% 1.5% 3% 3%;
    display: inline;
    /* margin-left: 5%; */
}


.aboutUsInfo {
    padding: 3% 3.5% 3% 1.5%;
    /* padding-right: 6%; */
    margin: 0;
    font-size: 21px;
    white-space: 2px;
    max-width: 60%;

}

.bakeryPic {
    padding: 3% 1.5% 3% 3%;
    width: 20vw;
    height: 20vw;
    max-width: 450px;
    max-height: 450px;
}

/* media query for responsive webpages */
@media (max-width: 1200px) {
    .aboutUsInfo {
        font-size: 17px;
    }

    .bakeryPic {
        max-height: 350px;
    }
}

@media (max-width: 900px) {
    .aboutUsInfo {
        font-size: 13px;
    }

    .bakeryPic {
        max-height: 250px
    }

}

@media (max-width:600px) {
    .aboutUsInfo {
        font-size: 10px;
    }

    .bakeryPic {
        max-height: 150px;
    }

}